@page "/unauthorized"
<PageTitle>Access Denied</PageTitle>
<LayoutView Layout="@typeof(MainLayout)">
    <p role="alert">You are not authorized to access this page.</p>
    <a href="login">Click here to login</a>
</LayoutView>

@code {
    
}